/* MIX  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #B0B0B0; /*GREY*/
}

.clear::after {
  position: absolute;
  content: "";
  display: table;
  clear: both;
}

.background-grey {
  height: 100vh;
  width: 100%;
  background-color: #DBDBD2;
  position: relative;
}

.background-blue {
  position: absolute;
  background-color: #009688;
  width: 100%;
  height: 110px;
}

.container {
  height: 95vh;
  width: 80%;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 150px;
}

.left-side {
  width: 35%;
  height: 100%;
  background-color: white;
  float: left;
}

.right-side {
  width: 65%;
  height: 100%;
  background-color: green;
  float: left;
}

/* LEFT SIDE PROFILE SECTION  */
.my-profile {
  height: 60px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
}

.my-profile img {
  width: 10%;
  border-radius: 50%;
  margin: 8px;
}

.icons {
 font-size: 18px;
 line-height: 60px;
}

.icons i {
  margin-right: 20px;
  color: #B1B1B1;
}

/* LEFT SIDE NOTIFICATIONS SECTION  */
.notifications {
  background-color: #8EDAFC;
  height: 60px;
}
.notifications i {
  background-color: #F2FBFF;
  color: #8EDAFC;
  float: left;
  font-size: 15px;
  padding: 13px;
  border-radius: 100%;
  margin: 10px;
}
.notifications p {
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  color: black;
}
.notifications p a {
  color: #6597AE;
  font-size: 11px;
}
/* LEFT SIDE NEW CHAT SECTION  */
.new-chat {
  background-color: white;
  height: 35px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.new-chat input {
  width: 80%;
  height: 27px;
  margin-top: 3px;
  margin-left: 35px;
  border: none;
}

.new-chat i {
  vertical-align: middle;
  line-height: 35px;
  font-size: 12px;
  margin-left: 10px;
}

::placeholder {
  font-size: 12px;
}

/* LEFT SIDE LIST FRIENDS SECTION  */
.list-friends {
  overflow-y: scroll;
  height: calc(100vh - 190px );
}
.friend {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid lightgrey;
}

.avatar {
  width: 12%;
  border-radius: 50%;
  margin: 5px 15px;
}

.friend p {
  vertical-align: middle;
  margin-top: 15px;
  color: black;
  font-weight: bold;
  font-size: 13px;
}
.friend p span {
  font-size: 10px;
}
.friend:active {
  background-color: #E9EBEB;
}
