/* MIX  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #B0B0B0; /*GREY*/
}

.clear::after {
  position: absolute;
  content: "";
  display: table;
  clear: both;
}

.background-grey {
  height: 100vh;
  width: 100%;
  background-color: #DBDBD2;
  position: relative;
}

.background-blue {
  position: absolute;
  background-color: #009688;
  width: 100%;
  height: 110px;
}

.container {
  height: 95vh;
  width: 80%;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 150px;
}

.left-side {
  width: 35%;
  height: 100%;
  background-color: white;
  float: left;
}

.right-side {
  width: 65%;
  height: 100%;
  background-image: url(../img/mine.jpg);
  float: left;
}

/* LEFT SIDE PROFILE SECTION  */
.my-profile {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
  border-right: 1px solid  #B0B0B0;
}

.my-profile img{
  width: 11%;
  border-radius: 50%;
  margin: 8px;
}

.icons {
 font-size: 18px;
 line-height: 60px;
}

.icons i {
  margin-right: 20px;
  color: #B1B1B1;
}

/* LEFT SIDE NOTIFICATIONS SECTION  */
.notifications {
  background-color: #8EDAFC;
  height: 60px;
}

.notifications i {
  background-color: #F2FBFF;
  color: #8EDAFC;
  float: left;
  font-size: 15px;
  padding: 13px;
  border-radius: 100%;
  margin: 10px;
}

.notifications p {
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  color: black;
}

.notifications p a {
  color: #6597AE;
  font-size: 11px;
}
/* LEFT SIDE NEW CHAT SECTION  */
.new-chat {
  background-color: white;
  height: 35px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.new-chat input {
  width: 80%;
  height: 27px;
  margin-top: 3px;
  margin-left: 35px;
  border: none;
}
.new-chat form {
  width: 99%;
  border: 1px solid #EAEAEA;
  height: 95%;
}

.new-chat i {
  vertical-align: middle;
  line-height: 35px;
  font-size: 12px;
  margin-left: 25px;
}

::placeholder {
  font-size: 12px;
}

/* LEFT SIDE LIST FRIENDS SECTION  */
.list-friends {
  overflow-y: scroll;
  height: calc(100% - 156px );
}

.friend {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
}

.container-friend  {
  display: flex;
}

.avatar {
  width: 12%;
  border-radius: 50%;
  margin: 5px 15px;
  height: 66%;
}

.friend p {
  vertical-align: middle;
  margin-top: 15px;
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.friend p span {
  font-size: 10px;
}

.friend.active {
  background-color: #E9EBEB;
}

.last-time {
padding: 15px;
font-size: 12px;
}
 /* RIGHT SIDE OF THE APP  */
 /* HEADER */
 .friend-chat{
   display: flex;
   width:87%;
 }

 .friend-chat img {
   max-width: 6%;
   border-radius: 50%;
   height: 67%;
   margin: 10px;
 }

 #nameActive {
   color:black;
   margin-top: 15px;
   font-size: 14px;
   font-weight: bold;
 }

header {
  display: flex;
  background-color: #EAEAEA;
  height: 60px;
}

.input-chat i {
  margin: 8px;
  line-height: 40px;
}

/* MAIN */
main {
  width: 100%;
  height: calc(100% - 120px );
  overflow-y: scroll;
  padding-top: 30px;
}

.chat-conversation {
  display: none;
}

.chat-conversation.active {
  display: block;
}

.bubble {
  width: 100%;
  height: 50px;
}

.b-green, .b-white {
  background-color: #D5F9BA;
  text-align: right;
  float: right;
  padding: 10px 25px 8px 10px;
  border-radius: 8px;
  color: black;
  font-size: 12px;
  margin-right: 70px;
  max-width: 300px;
  position: relative;
}

.b-white {
  background-color: white;
  float: left;
  margin-left: 70px;
}

main .time {
  margin-top: 5px;
  margin-right: -20px;
  font-size: 8px;
}

.chat .bubble .fa-angle-down {
  display: none;
  position: absolute;
  top: 10px;
  font-size: 15px;
  right: 10px;
}

.window {
  width: 120px;
  height: 70px;
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 3;
  box-shadow: 2px 2px 2px lightgrey;
  background-color: white;
  display: none;
  white-space: nowrap;
  padding-top: 5px;
}

.window p {
  text-align: center;
  font-size: 12px;
  color: black;
  height: 50%;
  padding: 5px;
}

.window p:hover {
  background-color: #EAEAEA;
}
/* FOOTER */
footer {
  width: 100%;
  height: 60px;
  background-color: #F3EEEA;
  display: flex;
}

footer input {
  width: 80%;
  height: 85%;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

footer i {
  width: 10%;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #6B7376;
}

footer input::placeholder {
  padding:15px;
}

#paper-plane {
  display: none;
}

.none {
  display: none !important;
}

/* .chat .bubble-green:hover .fa-angle-down {
  display: block;
} */
